<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        
        
    </head>

    <body>

        <header>
            <div class="Logo">
                Welcome to Sentimento
            </div>
            <div class="content">
                Honestly, we live in world filled with missinformation and fake news. 
                From facebook to twitter to fox news, it is hard to differentiate fiction from non-fiction.
                Sentimento helps you varify the validate and accuracy news articles. So give it a try
            </div>
        </header>


<section>
    <form id="textForm" >
        <textarea id="name" name="input"> 

        </textarea>
        <br><br>
        <input id="result" type="submit" name="" value="submit" >
    </form>
</section>


    <section>      
        <div id="results">
        <strong>Form Results:</strong>
        </div>
    </section>
</main>

<footer>
    <p></p>
</footer>

</body>
</html>